---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#topbar-wrapper {
  background-color: #201d2d;
}

#sidebar {
  background: radial-gradient(circle, #6800B7 0%, #1d1f27 100%);
}

#sidebar #avatar>a {
  border: none;
}

#sidebar #avatar img:hover {
  -webkit-transform: none;
  transform: none;
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a {
  color: rgba(184, 184, 184, 0.9);
  text-shadow: 1px 1px #1d1f27;
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a :hover {
  color: white;
  transition: color .35s ease-in-out;
}

#sidebar ul {
  // padding-left: 1rem;
  height: auto;
}

#sidebar .extra-lpad{
  padding-left: 2.5rem;
}

#sidebar label {
  display: block;
  margin-bottom: 0;
}

img {
  border-radius: 10px;
}

code.highlighter-rouge {
  font-size: .85em !important;
}

table {
  width: -webkit-fill-available;
}

.sponsors>p>a {
  /*Tooltip will be positioned relative to this*/
  position: relative;
}

/*Tooltip magic*/
.sponsors img:hover:after {
  display: block;
  content: attr(alt);
  position: absolute;
  bottom: 5px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius:2px;
  padding:2px;
}

.sponsors img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 2px;
}
