---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#sidebar #avatar>a {
  border: none;
}

#sidebar {
  background: radial-gradient(circle, #6800B7 0%, #1d1f27 100%);
}

#sidebar .sidebar-bottom .mode-toggle, #sidebar a {
  text-shadow: 1px 1px #1d1f27;
}

#topbar-wrapper {
  background-color: #201d2d;
}

#sidebar #avatar img:hover {
  -webkit-transform: none;
  transform: none;
}

img {
  border-radius: 10px;
}
